
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 65% 92.5%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 65% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 65% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 100% 95%;
    --secondary: 180 20% 88%;
    --secondary-foreground: 180 100% 20%;
    --muted: 180 20% 88%;
    --muted-foreground: 180 20% 50%;
    --accent: 276 56% 68%;
    --accent-foreground: 276 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 65% 98%;
    --ring: 180 100% 25.1%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 80% 60%;
    --primary-foreground: 180 100% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 276 56% 68%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 180 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
